@use 'variables' as *;
@use 'mixins';
@use 'header';
@use 'projects';
@use 'contact';
@use 'navbar';
@use 'about-me';
@use 'coding-examples';

body {
  font-size: 1rem;
  font-weight: 400;
  font-family: 'Helvetica', 'Arial', sans-serif;
  letter-spacing: 0.4px;
  margin: 0;
}

.content {
  @media only screen and (min-width: $break-m) {
    margin-left: 12rem;
  }
}
